<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>

    <%- include('partials/head.html') %>

</head>
<body>

    <%- include('partials/navigation.html') %>

    <%- include('partials/header.html') %>

    <!-- SECTION ONE -->
    <div class="container-fluid">
        <div class="row p-5 text-center">
            <div class="col-sm-6">
                <img src="/img/logoropa.png">
            </div>
            <div class="col-sm-6">
                <h2>Lo mejor de nuestro servicio</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum amet et commodi veritatis blanditiis ullam consectetur cum dolorem ipsa corrupti dolorum delectus, molestiae, eos quos!
                </p>
            </div>
        </div>
    </div>

    <!-- SECTION TWO -->
    <div class="container-fluid" id="about">
        <div class="row p-5 text-center">
            <div class="col-sm-6">
                <h1>Nosotros</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ad nihil a suscipit autem explicabo reprehenderit deleniti odit in alias dolores corporis, voluptatibus sapiente esse. Sed at nostrum amet harum, rerum delectus temporibus quasi repudiandae illum. Vitae id facilis rem!</p>
            </div>
            <div class="col-sm-6">
                <img src="/img/logoropa.png">
            </div>
        </div>
    </div>

    <%- include('partials/footer.html') %>
    
</body>
</html>