<section id="container-header">
    <div id="header-background"></div>
    <div class="container h-100" id="header-contenido">
        <div class="row no-gutters h-100 d-flex">
            <div id="header-text" class="col-md-6 text-light align-self-center">
                <h1 class="display-1 front-weight-bold mb-4">Viste a la moda</h1>
                <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. At velit sapiente fugit? Veritatis, a alias.</p>
                <a href="#" id="botonheader" class="btn btn-primary">Contactanos</a>
            </div>
            <div class="col-md-6 text-light">
                <img src="/img/logoropa.png" id="logo-ropa">
            </div>
        </div>
    </div>
</section>